@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Mukta&family=PT+Serif&family=Poppins:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(1, 1, 23);
    width: 435px;
    font-family: 'Fira Sans', sans-serif;
    height: 150vh;
    color: aliceblue;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main {
    background-color: rgb(0, 0, 10);
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: rgb(0, 0, 11);
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
}

.hello {
    font-size: 85px;

}

.name {
    font-size: 70px;
    font-weight: bold;

}

.about {
    font-size: 50px;
}

.buttons {
    margin: 35px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(1, 1, 11);
    background-color: beige;
    font-weight: bold;
    font-size: 22px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
  background-color: rgb(245, 245, 135);
  color: rgb(48, 48, 243);
}

.devPic img {
    width: 500px;

}
.contactform{
    padding: 0 40px;
    color: aliceblue;
    font-family:'Fira Sans', sans-serif ;
    padding-top: 90px;
    
}

.contactform h1{
    font-family: 'Mukta', sans-serif;
    
    
}
.contactform form div{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
     
}

#emailHelp{
    font-size: 12px;
    color: rgb(168, 168, 234);
    margin: 0 5px;
}
#form-check {
    flex-direction: row;
}
#form-check input{
    width: 20px;
    margin: 3px 0;
    

}
.btn-dn{
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(1, 1, 11);
    background-color: beige;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-dn:hover{
    background-color: rgb(245, 245, 135);
    color: rgb(48, 48, 243);
  }
 
.devInfo h1{
padding-top: 25px;
margin: 10px 14px;


}
.devInfo h2{
    padding-top: 25px;
margin: 10px 14px;
}
.devInfo p{
    margin: 8px;
    padding: 0 3px;
    font-size: 16px;
}
.devInfo h3{
    font-size: 35px;
    padding-top: 0px;
}
.devInfo h3 p{
    font-size: 25;
}
.devAchmt img{
    width: 400px;
}
